@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================
1.1 Text
========================= */

h1,
h2,
h3,
h4,
h5,
.btn {
  font-family: "Baskervville", serif;
  font-weight: 400;
  color: #161616;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  color: #868688;
  font-size: 0.9rem;
}

ul,
li {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

a {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Baskervville", serif;
  text-decoration: none;
}

/* =========================
1.1 Buttons
========================= */

.btn {
  background-color: #252525;
  color: #fff;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 1.5s ease;
}

.btn:hover {
  transition: 1.5s ease;
  opacity: 0.6;
}

.menu__arrow {
  transform: rotate(-90deg);
  font-size: 1.7rem;
  font-weight: 100;
  cursor: pointer;
}

.logo {
  letter-spacing: 0.3rem;
  font-weight: 500;
  opacity: 60%;
  margin-right: auto;
}

/* =========================
2.1 Wrapper
========================= */

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-template-areas:
    "nav"
    "hero"
    "main"
    "cards"
    "newsletter"
    "findus"
    "social"
    "footer";
}

/* =========================
2.2 Navigation
========================= */

.nav {
  grid-area: nav;
  height: 3rem;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 15px 15px -15px rgb(0 0 0 / 80%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__links {
  letter-spacing: 0.3rem;
  color: #000;
  text-transform: uppercase;
}

.nav__links:visited {
  color: #000;
}

.nav__links:hover {
  color: #868688;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

/* =========================
2.3 Hero
========================= */

.hero {
  grid-area: hero;
  background-image: url(../img/photos/09-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__logo {
  height: 30%;
  margin-bottom: 1rem;
}

.hero__title {
  color: #fff;
  padding: 1rem 1.4rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* =========================
2.4 Main
========================= */

.main {
  grid-area: main;
  text-align: center;
  padding: 2rem 0;
}

.main__title {
  margin-bottom: 0.3rem;
}

.main__subtitle {
  color: #868688;
  margin-bottom: 0.7rem;
}

.main__text {
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

/* =========================
2.5 Cards
========================= */

.cards {
  grid-area: cards;
  width: 100%;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.cards__card {
  min-height: 200px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.cards__title {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}

.cards--enjoy,
.cards--explore,
.cards--dosomething,
.cards--dontdo,
.cards--dining,
.cards--pool,
.cards--garden,
.cards--hiking {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: 1s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards--enjoy:hover,
.cards--explore:hover,
.cards--dosomething:hover,
.cards--dontdo:hover,
.cards--dining:hover,
.cards--pool:hover,
.cards--garden:hover,
.cards--hiking:hover {
  transition: 1.5s ease;
  background-size: 110%;
  opacity: 0.7;
}

.cards--enjoy {
  background-image: url(../img/photos/03-day.jpg);
}

.cards--explore {
  background-image: url(../img/photos/08-day.jpg);
}

.cards--dosomething {
  background-image: url(../img/photos/01-night.jpg);
}

.cards--dontdo {
  background-image: url(../img/photos/02-night.jpg);
}

/* =========================
2.6 Newsletter
========================= */

.newsletter {
  grid-area: newsletter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__text {
  max-width: 370px;
  margin: 2rem 0 4rem 0;
  line-height: 1.5rem;
  text-align: center;
}

/* =========================
2.7 Find us
========================= */

.findus {
  grid-area: findus;
  width: 100%;
  display: flex;
  justify-content: center;
}

.findus__map {
  width: 100%;
  margin-bottom: 4rem;
}

/* =========================
2.8 Social Media
========================= */
.social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__profilename {
  margin: 1rem 0;
}

.social__icons {
  margin-bottom: 2rem;
  color: #484f62;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

/* =========================
2.9 Footer
========================= */

.footer {
  grid-area: footer;
  border-top: 1px solid #000;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "where where"
    "about contact"
    "press legal";
  gap: 1rem;
}

.logo--footer {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.footer__subtitle {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.footer li {
  font-size: 0.7rem;
  list-style: none;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
  text-align: center;
}

.footer__where {
  grid-area: where;
  justify-self: center;
}

.footer__about {
  grid-area: about;
  justify-self: center;
}

.footer__legal {
  grid-area: legal;
  justify-self: center;
}

.footer__contact {
  grid-area: contact;
  justify-self: center;
}

.footer__press {
  grid-area: press;
  justify-self: center;
}

/* =========================
3.1 About.html
========================= */

/* Main Section */

.main__ecoimg {
  height: 7rem;
}

/* Cards Section */

.cards--facilities {
  text-align: center;
  justify-content: flex-end;
  padding: 0;
}

.facilities__title {
  margin-bottom: 0.5rem;
}

.facilities__text {
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.cards__link {
  color: #fff;
  letter-spacing: 0.3rem;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 0.5rem;
  background-color: transparent;
  background: linear-gradient(#fff 0 0) center bottom / 100% 1px
    no-repeat;
  transition: 0.3s linear;
}

.cards__link:hover {
  background-size: 50% 1px;
}

.cards--dining {
  background-image: url(../img/photos/dining.jpg);
}

.cards--pool {
  background-image: url(../img/photos/pool.jpg);
}

.cards--garden {
  background-image: url(../img/photos/garden.jpg);
}

.cards--hiking {
  background-image: url(../img/photos/hiking.jpg);
}

/* =========================
3.2 Booking.html
========================= */

.main__booking {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
}

/* Searchbar Section */

.booking__searchbar {
  background-color: #252525;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 70% 30%;
}

.booking__searchbar p {
  color: #fff;
  font-family: "Baskervville", serif;
}

.searchbar__criteria {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.criteria__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchbar__cart {
  border-left: 1px solid #fff;
  /* padding: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__total {
  display: none;
  text-transform: uppercase;
}

.cart__price {
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* Filter Selection Section */

.booking__filter {
  border: 1px solid #d3d3d3;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.sort__sortby {
  text-align: left;
}

.sort__selection {
  font-weight: 500;
  margin-right: 0.3rem;
}

.filter__text-filters {
  margin: 0 0.5rem 0 1rem;
  display: flex;
}

.show__filter {
  font-weight: 500;
  margin: 0 0.3rem 0 1.5rem;
}

.booking__filter .menu__arrow {
  color: #222222;
  padding-right: 0.5rem;
  align-self: end;
}

/* Room Cards Section */

.booking__title {
  text-align: left;
  margin-left: 1rem;
}

.booking__roomcard {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #d3d3d3;
  text-align: left;
}

.roomcard__img {
  width: 100%;
}

.roomcard__subtitle {
  margin-bottom: 0.5rem;
}

.roomcard__text {
  list-style-position: inside;
  margin-bottom: 0.5rem;
  font-weight: 100;
}

.roomcard__choose {
  border-top: 1px solid #d3d3d3;
}

.choose__price {
  font-weight: 700;
  margin: 0.5rem 0;
}

.choose__taxes {
  margin-bottom: 1rem;
}

/* =========================
4 Modifiers
========================= */

.logo--hide {
  display: none;
}

.btn--small {
  padding: 0.4rem 2.5rem;
  font-size: 1rem;
}

.btn--wide {
  width: 100%;
  padding: 0.5rem 0;
}

.btn--large {
  padding: 0.6rem 0;
  width: 330px;
  font-size: 1.4rem;
}

/* =========================
5 Media Queries
========================= */

@media screen and (min-width: 768px) {
  .nav {
    justify-content: right;
  }

  .nav__links {
    margin-right: 2rem;
  }

  /* Cards Section */

  .cards__card {
    height: 200px;
    width: 350px;
  }

  .footer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "about legal where contact press";
  }

  /* Booking Page */

  .booking__searchbar {
    grid-template-columns: 80% 20%;
  }

  .criteria__text {
    margin-right: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .criteria__dates {
    margin-right: 1.5rem;
  }

  .cart__total {
    display: block;
    margin-right: 0.5rem;
  }

  /* Modifiers */

  .logo--hide {
    display: inline;
  }
}
